.primary-btn {
  border: none;
  width: 100%;
  border-radius: 50px;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-btn {
  width: 100%;
  border-radius: 50px;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-logo {
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 4px;
}
