.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 10px;
  position: sticky;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}
.brand-btn {
  border: none;
  background-color: var(--background-color);
}
.brand {
  gap: 5px;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.nav-btns {
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 4px;
  margin: 0px 5px;
  font-size: 0.9em;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.nav-btns-active {
  color: var(--secondary-color);
}

.burger {
  position: relative;
  width: 25px;
  height: 18px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
}

.mob-nav-toggle {
  display: none;
}
.overlay {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mob-nav-toggle {
    display: block;
  }
  .nav-link {
    display: none;
  }
  .nav-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .overlay {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: flex-end;
    background-color: var(--overlay-color);
    backdrop-filter: blur(2px);
    overflow-y: auto;
  }
  .modal {
    width: 70dvw;
    height: 100dvh;
    background-color: var(--background-color);
    padding: 70px 20px;
  }
  .nav-link-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
  }
  .bar {
    height: 2px;
    background-color: var(--gray-color);
  }
}
